@model ICollection<AppModel.GameSet>

<table class="table table-bordered" id="gamesetstable">
    <thead>
        <tr>
            <th>@Messages.Number</th>
            <th>@Messages.HomeTeamPoints</th>
            <th>@Messages.GuesTeamPoints</th>
            <th>@Messages.GoldenSet</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var set in Model)
        {


            var formId = "setitemform" + set.GameSetId;
            <tr>
                <td>@set.SetNumber</td>
                <td>
                    @Html.TextBoxFor(model => set.HomeTeamScore, new { @class = "form-control", onkeypress = "return numbersonly(event)", @form = formId })
                    @Html.ValidationMessageFor(model => set.HomeTeamScore, "", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.TextBoxFor(model => set.GuestTeamScore, new { @class = "form-control", onkeypress = "return numbersonly(event)", @form = formId })
                    @Html.ValidationMessageFor(model => set.GuestTeamScore, "", new { @class = "text-danger" })
                </td>

                <td>
                    @Html.CheckBoxFor(model => set.IsGoldenSet, new { @form = formId })
                    @Html.ValidationMessageFor(model => set.IsGoldenSet, "", new { @class = "text-danger" })
                </td>

                <td>
                    @using (Ajax.BeginForm("UpdateGameSet", null,
        new AjaxOptions
        {
            UpdateTargetId = "gamesetstable"
        },
       new
       {
           id = formId
       }
    ))
                    {
                        @Html.HiddenFor(model => set.GameSetId, new { @form = formId })
                        @Html.HiddenFor(model => set.GameCycleId, new { @form = formId })
                        @Html.HiddenFor(model => set.SetNumber, new { @form = formId })
                        <button type="submit" form="@formId" class="btn btn-sm btn-primary">
                            <i class="glyphicon glyphicon-pencil"></i>
                            <span>@Messages.Save</span>
                        </button>
                    }
                </td>
                @if (set == Model.Last())
                {
                    <td>
                        @Ajax.ActionLink(
                        " ",
                          "DeleteLastGameSet",
                          new { id = set.GameCycleId },
                         new AjaxOptions
                         {
                             InsertionMode = InsertionMode.ReplaceWith,
                             UpdateTargetId = "gamesetstable",
                         },
                         new
                         {
                             @class = AppCss.Delete
                         })
                    </td>
                }
            </tr>
        }
    </tbody>
</table>
