@model AppModel.GamesCycle

@{
    ViewBag.Title = "Edit";
    string status = "";
    if (Model.GameStatus != null)
    {
        status = Model.GameStatus.Trim();
    }
    var GoldenSet = Model.GameSets.FirstOrDefault(s => s.IsGoldenSet == true);

    var shoeldShowGoldenSet = Model.PlayoffBracket != null &&
        Model.PlayoffBracket.GamesCycles.Count == 2 &&
        GoldenSet == null &&
        Model.CycleId == Model.PlayoffBracket.GamesCycles.OrderByDescending(gc => gc.StartDate).FirstOrDefault().CycleId &&
        Model.GameSets.Count > 2;

    var gameLocked = status == GameStatus.Ended;
    var gameType = Model.Group.GamesType.Name;
    string warnOnReset = gameLocked && (gameType == "Playoff" || gameType == "Knockout") ? "true" : "false";
}

@if ((bool)Session["global"] == true)
{
    <h3 class="sub-header">
        @Model.Stage.League.Name &raquo; @Html.ActionLink(Messages.GamesTable, "Edit", "Unions", new { id = Model.Stage.League.UnionId }, new { @class = "form-group top-buffer" })
    </h3>
}
else
{
    <h3 class="sub-header">
        @Model.Stage.League.Name &raquo; @Html.ActionLink(Messages.GamesTable, "Edit", "Leagues", new { id = Model.Stage.LeagueId, seasonId = Model.Stage.League.SeasonId }, new { @class = "form-group top-buffer" })
    </h3>
}

<div id="statusboard">
    <div id="backgroundgrey">
        @{
            if (!string.IsNullOrEmpty(status))
            {
                <div class="top-buffer row">
                    <a class="btn btn-sm btn-danger" 
                       href='javascript:gcEdit.resetGame(@warnOnReset, "@Messages.ResetWarning",@Model.CycleId)'>
                        @Messages.ResetGame
                    </a>
                </div>
            }

            if (string.IsNullOrEmpty(status))
            {
                <div class="top-buffer row">
                    @Html.ActionLink(Messages.StartGame, "StartGame", new { id = Model.CycleId }, new { @class = "btn btn-sm btn-success" })
                </div>
            }
            else if (status == GameStatus.Started)
            {
                <div class="top-buffer row">
                    @Html.ActionLink(Messages.EndGame, "EndGame", new { id = Model.CycleId }, new { @class = "btn btn-sm btn-danger" })
                </div>
            }
        }
        <div class="row form-group top-buffer">
            @if (status == GameStatus.Started)
            {
                <span class="label label-success col-sm-4">@Messages.Started</span>
            }
            else if (status == GameStatus.Ended)
            {
                <span class="label label-danger col-sm-4">@Messages.Ended</span>
            }
            else
            {
                <span class="label label-default col-sm-4">@Messages.Waiting</span>
            }
        </div>
        <div class="row  form-group">
            <div class="col-sm-6">
                <div>
                    <label>@Messages.HomeTeam:</label>
                </div>
                <div>
                    @if (Model.HomeTeam != null)
                    {
                        <h4>@Model.HomeTeam.Title</h4>
                    }
                </div>
                <div>
                    @Model.HomeTeamScore
                </div>
                @if (GoldenSet != null)
            {
                if (GoldenSet.HomeTeamScore > GoldenSet.GuestTeamScore)
                {
                        <div class="top-buffer">
                            <span class="label label-warning">@Messages.GoldenSet</span>
                        </div>
                    }
                }
                else if (Model.TechnicalWinnnerId == Model.HomeTeamId)
                {
                    <div class="top-buffer">
                        <span class="label label-success">@Messages.TechWin</span>
                    </div>
                }
                else
                {
                    <div class="top-buffer">
                        @Html.ActionLink(Messages.TechWin, "TechnicalWin", new { id = Model.CycleId, teamId = @Model.HomeTeam.TeamId }, new { @class = "btn btn-sm btn-primary" })
                    </div>
                }
            </div>
            <div class="col-sm-6">
                <div>
                    <label>@Messages.GuestTeam:</label>
                </div>
                <div>
                    @if (Model.GuestTeam != null)
                    {
                        <h4>@Model.GuestTeam.Title</h4>
                    }
                </div>
                <div>
                    @Model.GuestTeamScore
                </div>
                @if (GoldenSet != null)
            {
                if (GoldenSet.HomeTeamScore < GoldenSet.GuestTeamScore)
                {
                        <div class="top-buffer">
                            <span class="label label-warning">@Messages.GoldenSet</span>
                        </div>
                    }
                }
                else if (Model.TechnicalWinnnerId == Model.GuestTeamId)
                {
                    <div class="top-buffer">
                        <span class="label label-success">@Messages.TechWin</span>
                    </div>
                }
                else
                {
                    <div class="top-buffer">
                        @Html.ActionLink(Messages.TechWin, "TechnicalWin", new { id = Model.CycleId, teamId = @Model.GuestTeam.TeamId }, new { @class = "btn btn-sm btn-primary" })
                    </div>
                }
            </div>
        </div>
    </div>
</div>

<hr style="border-top:none" />

@using (Ajax.BeginForm("UpdateGame", null, new AjaxOptions
{
    UpdateTargetId = "gamefrmbody",
    InsertionMode = InsertionMode.Replace
},
                new { id = "gamefrm" }))
{
    <br />
    <div class="row form-group">
        <div id="gamefrmbody">
            @Html.Action("Game", Model)

        </div>
    </div>
}

<hr style="border-top:none" />
@{
    TempData["schedules"] = "true";
}

@Html.Partial("_GameSetForm", new GameSetForm { GameCycleId = Model.CycleId, warnOnReset = warnOnReset })

<h4>@Messages.Acts</h4>

<div class="row">
    <div class="col-sm-8" id="gamesetscore">
        @Html.Partial("_GameSetList", Model.GameSets)
    </div>
</div>

<script type="text/javascript" src="~/Scripts/pages/gcEdit.js"></script>
<script type="text/javascript">
    gcEdit.documentReady();
</script>
