<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Loglig- Administrative Panel</title>
    @Styles.Render("~/content/style/css")
    <link href="~/Scripts/datetimepicker/jquery.datetimepicker.min.css" rel="stylesheet" />
    @if (Messages.Direction == "rtl")
    {
        @Styles.Render("~/content/style/rtl")
    }
    @Scripts.Render("~/bundles/js")
    <script src="~/Scripts/datetimepicker/jquery.datetimepicker.full.min.js"></script>
    @if (Messages.Lang == "he")
    {
        @Scripts.Render("~/bundles/js/he")
    }
    @RenderSection("header", required: false)
    <script src="~/Scripts/pages/commonLib.js"></script>
    <script>
        $(function () {

            $.ajax({
                url: '/Admin/GetCurrentSeason',
                type: 'GET',
                dataType: 'JSON',
                data: {},
                success: function (name) {
                    $('.currentSeason').text(name);
                }
            });

            cmsMainLib.init('@Messages.Lang');

            @*$.datetimepicker.setLocale('@Messages.Lang');*@
            $.datetimepicker.setLocale('he');

            $(".frm-date").datetimepicker({
                format: 'd/m/Y H:i',
                formatTime: 'H:i',
                formatDate: 'd/m/Y',
                @*@if (Messages.Lang == "he")
                    {
                        <text>
                // 30/07/16 10:02
                format: 'd/m/Y H:i',
                formatTime: 'H:i',
                formatDate: 'd/m/Y',
                </text>
                    }
                else
                {
                    <text>
                // 30/07/16 10:02
                format: 'm/d/Y H:i',
                formatTime: 'H:i',
                formatDate: 'm/d/Y',
                </text>
                }*@
                step: 15,
                closeOnDateSelect: true,
                onChangeDateTime: function () {
                    $(this).data("input").trigger("changedatetime.xdsoft");
                }
            });
            $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
                localStorage.setItem('lastTab', $(this).attr('href'));
            });
            var lastTab = localStorage.getItem('lastTab');
            if (lastTab) {
                $('[href="' + lastTab + '"]').tab('show');
            }
        });
    </script>
    <link rel="icon" href="~/Content/images/favicon.ico" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
    @Html.Partial("_TopMenu")
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-1 sidebar">
                @Html.Action("Logged", "Common")
                <ul class="nav nav-sidebar">
                    @Html.Partial("_Navbar")
                </ul>
            </div>
            <div class="col-sm-10 col-sm-offset-2 col-md-11 col-md-offset-1 main">
                @RenderBody()
            </div>
        </div>
    </div>
    @Html.Partial("_ConfirmAlert")
    @RenderSection("scripts", required: false)
</body>
</html>
