@model CmsApp.Models.Schedules

<div class="row">
    <div style="display: inline-block; vertical-align: middle; float: none">
        <!-- Choose leagues -->
        <div class="col-md-6">
            <div>
                <a href="javascript:leaguesOpen()" id="lgOpen">
                    <i class="glyphicon glyphicon-plus">&nbsp;@Messages.Leagues</i>
                </a>
                <a href="javascript:leaguesClose()" id="lgClose" style="display: none">
                    <i class="glyphicon glyphicon-minus">&nbsp;@Messages.Leagues</i>
                </a>
            </div>
            <div id="leaguesList" class="details-list" style="display: none">
                @if (Model.Leagues?.Length > 0)
                {
                    for (var i = 0; i < Model.Leagues.Length; i++)
                    {
                        <div class="col-md-6">
                            @Html.HiddenFor(model => model.Leagues[i].Name)
                            @Html.HiddenFor(model => model.Leagues[i].Id)
                            <div class="col-md-10">
                                @Model.Leagues[i].Name
                            </div>
                            <div class="col-md-1">
                                @if (i == 0)
                                {
                                    @Html.CheckBoxFor(m => m.Leagues[i].Check,
                                                new { id = "all_leagues", @onchange = "gcList.allLeaguesCheck()" })
                                }
                                else
                                {
                                    @Html.CheckBoxFor(m => m.Leagues[i].Check,
                                                new { @class = "league-checkbox", @onchange = "gcList.leagueCheck()" })
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
        <!-- Choose auditoiums -->
        <div class="col-md-6">
            <div>
                <a href="javascript:auditoriumsOpen()" id="audOpen">
                    <i class="glyphicon glyphicon-plus">&nbsp;@Messages.Auditoriums</i>
                </a>
                <a href="javascript:auditoriumsClose()" id="audClose" style="display: none">
                    <i class="glyphicon glyphicon-minus">&nbsp;@Messages.Auditoriums</i>
                </a>
            </div>
            <div id="auditoriumsList" class="details-list" style="display: none">
                @if (Model.Auditoriums?.Length > 0)
                {
                    for (int i = 0; i < Model.Auditoriums.Length; i++)
                    {
                        <div class="col-sm-6">
                            @Html.HiddenFor(model => model.Auditoriums[i].Name)
                            @Html.HiddenFor(model => model.Auditoriums[i].Id)
                            <div class="col-md-10">
                                @Model.Auditoriums[i].Name
                            </div>
                            <div class="col-md-offset-1">
                                @if (i == 0)
                                {
                                    @Html.CheckBoxFor(m => m.Auditoriums[i].Check,
                                                    new { id = "all_auditoriums", @onchange = "gcList.allAuditoriumsCheck()" })

                                }
                                else
                                {
                                    @Html.CheckBoxFor(m => m.Auditoriums[i].Check,
                                                    new { @class = "auditorium-checkbox", @onchange = "gcList.auditoriumCheck()" })
                                }
                            </div>
                        </div>
                    }
                }
            </div>
        </div>
    </div>
</div>
