@model TeamForm

@{
    string msg = "";
    if (TempData["ErrExists"] != null)
    {
        msg = TempData["ErrExists"] as string;
    }
}
<div id="teams_view">

    
    @if (User.IsInAnyRole(AppRole.Admins, AppRole.Workers))
    {
        <a class="btn btn-primary btn-edit select-all-teams">
            <i class="glyphicon glyphicon-plus"></i> @Messages.SelectAllTeams
        </a>

        <a class="btn btn-primary btn-edit" id="move_to_league"
           href="#" 
           data-target="#team_league_modal_view" data-toggle="tooltip" title="@Messages.TooltipMoveToLeague">
            <i class="glyphicon glyphicon-move"></i> @Messages.MoveToLeague
        </a>
    }
    

    @using (Ajax.BeginForm("Create", "Teams", new AjaxOptions {UpdateTargetId = "teams"}, new {id = "teamsform", autocomplete = "off"}))
    {
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>#</th>
                <th>@Messages.Title</th>
                @if(User.IsInAnyRole(AppRole.Admins, AppRole.Workers)) {<th>@Messages.MoveToLeague</th>}
                <th></th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            @foreach (var m in Model.TeamsList)
            {
                <tr>
                    <td>@m.TeamId</td>
                    <td>@m.Title</td>
                    @if (User.IsInAnyRole(AppRole.Admins, AppRole.Workers))
                    {
                        <td><input type="checkbox" name="isMoveToLeague" value="@m.TeamId" /></td>
                    }

                    <td>
                        <a class="btn btn-primary" href="@Url.Action("Edit", "Teams", new {id = m.TeamId, currentLeagueId = Model.LeagueId, seasonId = Model.SeasonId, unionId=  Model.UnionId})">@Messages.Details</a>
                    </td>
                    @if (User.IsInAnyRole(AppRole.Admins, AppRole.Editors, AppRole.Workers))
                    {
                        <td>
                            <a href="@Url.Action("Delete", new {id = m.TeamId, leagueId = Model.LeagueId, seasonId = Model.SeasonId})" c class="@AppCss.Delete"
                               data-ajax-confirm="@Messages.DeleteConfirm"
                               data-ajax-update="#teams"
                               data-ajax="true">
                            </a>
                        </td>
                    }
                </tr>
            }
            </tbody>
            @if (User.IsInAnyRole(AppRole.Admins, AppRole.Editors, AppRole.Workers))
            {
                <tfoot>
                <tr>
                    <td>
                        <div class="form-group no-marging">
                            @Html.CheckBoxFor(t => t.IsNew)
                            @Html.Label(Messages.AddNewTeam)
                        </div>
                    </td>
                    <td>
                        <div class="form-group no-marging">
                            @Html.TextBoxFor(m => m.Title, new
                       {
                           @class = "form-control auto-search",
                           @id = "team-auto-search",
                           placeholder = Messages.AddTeam,
                           maxlength = 50,
                           data_remote = Url.Action("FindTeam", "Search", new { sectionId = Model.SectionId })
                       })
                        </div>

                        @if (!string.IsNullOrEmpty(msg))
                        {
                            <div class="text-danger">@msg</div>
                        }

                    </td>
                    <td>
                        <button class="btn btn-primary">@Messages.Save</button>
                        @Html.HiddenFor(m => m.LeagueId)
                        @Html.HiddenFor(m => m.TeamId)
                        @Html.HiddenFor(x => x.SeasonId)
                    </td>
                    <td></td>
                </tr>
                </tfoot>
            }
        </table>
    }
</div>
<script>

  
$(document).ready(function(){
    $('[data-toggle="tooltip"]').tooltip();
});


    $('#teamsform').validateBootstrap(true);
    setAutoSearch();
    $('#team-auto-search').bind('typeahead:select', function (ev, data) {
        $('[name="TeamId"]').val(data.Id);
    });

    $("#team-auto-search").keypress(function (e) {
        if (e.which != 13 || e.which != 32) {
            $('[name="TeamId"]').val(0);
        }
    });
    $(document).ready(function() {
        $('.select-all-teams').click(function() {
            $('[name="isMoveToLeague"]').click();
        });

        $('#move_to_league').click(function (e) {
            e.preventDefault();
            var selectedTeams = [];
            $('[name="isMoveToLeague"]:checked').each(function(k, v) {
                var val = $(this).val();
                selectedTeams.push(parseInt(val));
            });
            if (selectedTeams.length === 0) {
                alert('Please select at least one team to move to another league.');
                return;
            }
            var league = '@Model.LeagueId';
            var season = '@Model.SeasonId';
            $.ajax({
                url: '@Url.Action("MoveToLeague", "Teams")',
                type: 'POST',
                dataType: 'html',
                data: { teams: selectedTeams, leagueId: league, seasonId: season },
                success: function(result) {
                    $('#team_league_modal_view').modal('show');
                    $('#team_league_form').html(result);
                }
            });
        });
    });
</script>
<div id="team_league_modal_view" class="modal fade" role="dialog" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content" id="team_league_form"></div>
    </div>
</div>