@model JobForm

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only"></span></button>
    <h4 class="modal-title">@(Model.JobId == 0 ? "הוסף חדש" : "ערוך")</h4>
</div>
@using (Ajax.BeginForm("Edit", null, new AjaxOptions { UpdateTargetId = "editform_pl" }, new { id = "addform" }))
{
    <div class="modal-body">
        <div class="form-group">
            <label class="control-label">תפקיד:</label>
            @Html.TextBoxFor(m => m.JobName, new { @class = "form-control" })
            @Html.ValidationMessageFor(m => m.JobName)
        </div>
        <div class="form-group">
            <label class="control-label">ענף:</label>
            @Html.DropDownListFor(m => m.SectionId, Model.Sections, "- לא נבחר -", new { @class = "form-control" })
        </div>
        <div class="form-group">
            <label class="control-label">הרשאה במערכת:</label>
            @Html.DropDownListFor(m => m.RoleId, Model.Roles, "- לא נבחר -", new { @class = "form-control" })
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">סגור</button>
        <button type="submit" class="btn btn-primary">שמור</button>
    </div>
    @Html.HiddenFor(m => m.JobId)
}
<script>
    $('#addform').validateBootstrap(true);
</script>